/* canvas {
    border: 12px solid green;
} */

header {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px white solid;
    width: 100%;
    height: 20px;

    color: white;
}

header div {
    position: inherit;
    display: flex;
    height: 10vh;
    width: inherit;
    border: 1px white dashed;
}