/* canvas {
    border: 12px solid green;
} */
 /* -------------- header -------------------------------I */
canvas {
    overflow-y: hidden;
 }
 body {
     overflow-y: hidden;
 }
header {
    position: absolute;
    top: 0px;
    left: 0px;
    /* border: 1px white solid; */
    width: 100%;
    height: 20px;

    color: white;
    font-family: 'Raleway', sans-serif;
}

header div {
    font-family: 'Raleway', sans-serif;
    position: inherit;
    display: flex;
    height: 15vh;
    width: inherit;
    /* border: 1px white dashed; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.091);
    align-items: center;
    justify-content: space-between;
    background-color: rgba(28, 28, 28, 0.338);
    backdrop-filter: blur(8px);

}

header div button {
    font-family: 'Raleway', sans-serif;
    height: 76px;
    width: 76px;
    border-radius: 50px;
    margin-left: 4vh;
    margin-right: 4vh;
}

header div button.reset-button {
    font-family: 'Raleway', sans-serif;
    font-size: 2.8vh;
    color: white;
    background: none;
    font-weight: 100;
    border: none;
    height: 76px;
    width: 76px;
    border-radius: 50px;
    margin-left: 4vh;
    margin-right: 4vh;
}

header div button.instructionsDD-button {
    /* border: solid white 2px; */
    /* border: 1px solid rgba(255, 255, 255, 0.091); */
    border: none;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: rgb(222, 222, 222);
    font-size: 4vh;
    height: 8vh;
    width: 8vh;
    background-color: transparent;
}

header div button.instructionsDD-button-click {
    /* border: solid white 2px; */
    /* border: 1px solid rgba(255, 255, 255, 0.091); */
    border: none;
    border-radius: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: rgb(222, 222, 222);
    font-size: 4vh;
    height: 8vh;
    width: 8vh;
    /* background-color: rgba(41, 41, 41, 0.397); */
}

p.titleTXT {
    font-family: 'Raleway', sans-serif;
    font-size: 13vh;
    font-weight: 100;

}

 /* -------------- footer -------------------------------I */

footer {
    position: relative;
    bottom: 15vh;
    left: 0;
    /* border: 1px white solid; */
    width: 100%;
    height: 20vh;
    background-color: rgba(28, 28, 28, 0.338);
    backdrop-filter: blur(80px);
}

div.second-div-footer{
    display: flex;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 1.9vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: transparent;
}

div.div-footer {
    font-family: 'Raleway', sans-serif;
    position: inherit;
    display: flex;
    height: 10vh;
    width: inherit;
    border-top: 1px solid rgba(255, 255, 255, 0.091);
    align-items: center;
    justify-content: center;
    background: transparent;
}

a.logo-hub-tag {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: rgb(222, 222, 222);
    font-size: 30px;
    height: 76px;
    width: 76px;
    background-color: transparent;
 border-radius: 50px;
  height: 20px;
  width: auto;
  margin: 20px;
}

img.info-logo {
    background: white;
    color: white;
    border-radius: 50px;
  height: 20px;
  width: auto;
  padding: 3px;
}

img.info-logo-link {
    background: white;
    color: white;
    border-radius: 50px;
  height: 22px;
  width: auto;
  padding: 2.8px;
}

img.info-logo-link-angel {
    background: white;

    border-radius: 50px;
  height: 25px;
  width: auto;
  padding: 1px;
}


/* --------------- instructionsModal ------------------- */

div.inst-modal {
    display: none;
    position: absolute;
    top: 20vh;
    right: 25vw;
    height: 60vh;
    width: 50vw;
    
    border-radius: 20px;
    
    border: 1px solid rgba(255, 255, 255, 0.091);
    /* border: solid white 3px; */
    
    
    backdrop-filter: blur(80px);
    background-color: rgb(5, 5, 5);

    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 9;
}


div.back-blur {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.137);
    height: 100vh;
    width: 100vw;
    z-index: 8;
}

/* ----------- title ins ------------- */

p.title-ins {
    color: white;
    font-family: 'Raleway', sans-serif;
    justify-self: flex-start;
    align-self: flex-start;


    /* -------------------- */
    /* align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    width: inherit; */
    position: absolute;
    top: 2vh;
    left: 2vw;
    margin-top: 3vw;
    margin-left: 13vw;
    /* -------------------- */
    font-size: 4.5vh;
    font-weight: 100;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.091); */

}

p.section-p {

    margin-top: 3vh;
    margin-left: 4vw;
    margin-right: 4vw;
    color: white;
    font-size: 2.5vh;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}

p.section-p-f {
    margin-top: 18vh;
    margin-left: 4vw;
    margin-right: 4vw;
    font-size: 2.5vh;
    font-weight: 100;
    color: white;
    font-family: 'Raleway', sans-serif;
}


input#cube-input{
    position: absolute;
    right: 10vw;
    height: 40px;
    width: 40px;
    text-indent: 7px;
    border: white solid 2px;
    background-color: transparent;
    color: white;
    border-radius: 50%;

}

/* p.div-input{
    position: absolute;
    right: 10vw;
    color: white;
} */

p.final-p {
    margin-top: 3vh;
    margin-left: 4vw;
    margin-right: 4vw;
    color: white;
    font-size: 2.5vh;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}

p.close-x {
    position: absolute;
    top: 2vw;
    right: 2vw;
    color: white;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    z-index: 7;
}

p.close-x:hover {
    cursor: pointer;
}


/* -------------- options -------------------------------I */

.option-div{
    position: absolute;
    top: 17vh;
    left: 2vw;
}

.option-label{
    position: relative;
}

.input-check{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.span-txt{
    color: white;
    font-size: 3vh;
    text-align: center;
    display: block;
}

.span-slider{
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #333;
    transition: .4s;
    width: 3vw;
    height: 2vh;
    /* width: 200px;
    height: 120px; */
}

.span-slider:before {
    content: '';
    position: absolute;
    background-color: white;
    transition: .4s;
    width: 1.5vw;
    height: 2vh;
    /* width: 100px;
    height: 100px; */
    top: 1px;
    left: 1px;

}


.img-gears{
    height: 34px;
    padding: 14px;
}

.gears-div{
    border: 1px white solid;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    cursor: pointer;
    transition: 1.25s;
}

.gears-div:hover{
    background-color: rgb(39, 39, 39);
}


/* -------------- settings -------------------------------I */

.visible-color-dd{
    overflow: hidden;
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    padding: 9px;
    margin-top: 18px;
    transition: 1.25s;
}

.hidden-color-dd{
    display: none;
}

.colors-div-opt{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 12px;
}

.colors-div-opt p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.red-label{
    color: white;
}

.orbit-cont-div{
    border: 1px #333 solid;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 12px;
}

[type='radio']{
    opacity: 0;
    display: none;
}
[type='radio'] + label{
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: white;
    text-align: end;
    width: 100%;

}

[type='radio'] + label:before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #333;
    left: 0;
    top: 0;
    background-color: black;
}

[type='radio']:checked + label::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px #ddd;
    left: 6px;
    top: 6px;
    background-color: #333;
}

[type='radio']:checked + label:before{
    background-color: rgb(17, 17, 17);
}

.color-group-p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gears-div{

}

.gears-div-pulse {
    z-index: 100;
    animation: pulse 1500ms infinite;

}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.25);
        opacity: .5;
    }
}

/* -------------- settings -------------------------------I */

/* -------------- options -------------------------------I */